*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    font-style: normal;

    outline: none;
}

body {
    height:1440px;
    width:90%;
    margin: auto;
    background-color: #fff;

    display: flex;
    flex-flow: column nowrap;

    align-items: center;

    box-shadow: 1px 5px 10px #5b5b5b;

}

body::-webkit-scrollbar {
    display: none;
}

:root {
    font-size: calc(1vh + 1vw + .4vmin);
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}


.form {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    row-gap: 5px;
}

.form > button {
    width: 140px;
    height: 45px;

    border: none;
    border-radius: 15px;

    background-color: #165ac1;
    color: white;
    font-size: .8rem;
    box-shadow: 1px 3px 4px black;
    cursor: pointer;

    transition: all .15s linear;
}

.form > button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.form > input {
    width: 350px;
    height: 45px;

    text-align: center;
    font-size: .8rem;

    border: 1px #c8c8c8 solid;
    background-color: #bcb8b8;

    transition: all .4s ease-in-out;
    transition-delay: .05s;

    border-radius: 25px;
}

.form > select {
    width: 350px;
    font-size: 1rem;
    background-color: #b8b8b8;
    border: none;
}

.form > select::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width:300px;
    height:500px;

}


.form > select > option {
    background-color: #b8b8b8;
    border:none;

}

.form > input:focus {
    box-shadow: 2px 3px 6px black;
}
